html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  background-color: #a2a2a2;
  color: #171818;
  font-family: 'Ubuntu', sans-serif;
  width: 100%; }

h2 {
  font-size: 2.450rem;
  padding: 5% 0 4% 0;
  line-height: 1.4;
  text-align: center;
  font-weight: 500; }

a {
  text-decoration: none;
  color: inherit; }

button {
  margin: 4em auto;
  display: block;
  text-align: center;
  font-size: 1.125rem;
  padding: .5em 1rem;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  border: solid 2px #171818;
  background-color: transparent; }

button:hover {
  -webkit-border-radius: 50px;
  border-radius: 50px;
  border: solid 2px #CF4647;
  color: #CF4647;
  cursor: pointer; }

button:focus {
  outline: 0; }

.masthead {
  overflow: auto;
  display: inline-block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 5em;
  background-color: rgba(251, 251, 251, 0.95);
  border: 1px solid #dedede;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055); }
  .masthead .logo {
    overflow: auto;
    float: left;
    margin: 15px 10px 0px 150px; }
    .masthead .logo span {
      float: right;
      margin: 13px 0 0 20px;
      font-size: 24px; }
    .masthead .logo img {
      float: left; }
  .masthead nav {
    float: right;
    font-size: 18px;
    color: #a2a2a2;
    text-transform: uppercase; }
    .masthead nav ul {
      list-style: none;
      text-decoration: none;
      margin: 30px 110px 0 0; }
      .masthead nav ul li {
        display: inline-block;
        margin-right: 40px; }
        .masthead nav ul li a:hover, .masthead nav ul li a:active {
          color: #CF4647;
          border-bottom: 2px solid #CF4647;
          padding-bottom: 3px; }

.masthead-text {
  background: url(../images/me2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fbfbfb;
  margin-top: 5em; }

.masthead-text-layer {
  background-color: rgba(24, 24, 24, 0.6);
  min-height: 18em;
  color: #fbfbfb;
  font-size: 44px; }
  .masthead-text-layer .masthead-heading {
    padding: 6em 0 0 0;
    margin: 0 auto;
    max-width: 14em;
    text-align: center; }

.text-color {
  color: #46cfce; }

.work {
  min-height: 42em;
  text-align: center;
  background-color: #fbfbfb; }
  .workLayer {
    min-height: 980px;
  }
  .work .workImages {
    margin-top: 30px;
    width: 100%;
    text-align: center; }
    .work .workImages img {
      width: 400px;
      height: 267px;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      -webkit-transition: .3s ease-in-out;
      transition: .3s ease-in-out; }
    .work .workImages img:hover {
      -webkit-filter: grayscale(0);
      filter: grayscale(0); }
    .work .workImages .work-image-padding {
      margin: 0 30px 0 30px; }

@media only screen and (max-width: 1282px) {
  .work .workImages .work-image-top {
    margin-top: 30px;  } }

.about {
  max-height: 670px;
  background-color: #a2a2a2; }
  .about .about-layer {
    max-width: 38em;
    margin: 0 auto; }
    .about .about-layer p {
      margin-top: 2em;
      line-height: 1.5em;
      font-size: 1.15em; }
      .about .about-layer p a {
        border-bottom: 2px solid #171818; }
      .about .about-layer p a:hover, .about .about-layer p a:active {
        color: #CF4647;
        border-bottom: 2px solid #CF4647;
        padding-bottom: 1px; }

.contact {
  min-height: 46em;
  background-color: #171818;
  color: #fbfbfb;
  overflow: auto;
  text-align: center; }

#form-main {
  width: 100%;
  float: left;
  padding-top: 0px; }

#form-div {
  background-color: rgba(72, 72, 72, 0.4);
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 35px;
  padding-bottom: 50px;
  width: 450px;
  float: left;
  left: 50%;
  position: absolute;
  margin-top: 30px;
  margin-left: -260px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px; }

.feedback-input {
  color: #3c3c3c;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 0;
  line-height: 22px;
  background-color: #fbfbfb;
  padding: 13px 13px 13px 54px;
  margin-bottom: 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid transparent; }

.feedback-input:focus {
  background: #fff;
  box-shadow: 0;
  border: 3px solid #3498db;
  color: #3498db;
  outline: none;
  padding: 13px 13px 13px 54px; }

.focused {
  color: #46cfce;
  border: #46cfce solid 3px; }

/* Icons ---------------------------------- */
#name {
  background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat; }

#name:focus {
  background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
  background-size: 30px 30px;
  background-position: 8px 5px;
  background-position: 11px 8px;
  background-repeat: no-repeat; }

#email {
  background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat; }

#email:focus {
  background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat; }

#comment {
  background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat; }

textarea {
  width: 100%;
  height: 150px;
  line-height: 150%;
  resize: vertical; }

input:hover, textarea:hover,
input:focus, textarea:focus {
  background-color: white; }

#button-blue {
  float: left;
  width: 100%;
  border: #fbfbfb solid 4px;
  cursor: pointer;
  background-color: #a2a2a2;
  color: white;
  font-size: 24px;
  padding-top: 22px;
  padding-bottom: 22px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700; }

#button-blue:hover {
  background-color: transparent;
  color: #CF4647;
  border: #CF4647 solid 4px; }

.submit:hover {
  color: #3498db; }

.ease {
  width: 0px;
  height: 74px;
  background-color: #fbfbfb;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -o-transition: .3s ease;
  -ms-transition: .3s ease;
  transition: .3s ease; }

.submit:hover .ease {
  width: 100%;
  background-color: white; }

footer {
  min-height: 5em;
  background-color: #2f2f2f;
  color: #a2a2a2; }
  footer .footer-layer {
    overflow: hidden;
    height: 100%;
    width: 100%; }
    footer .footer-layer .social-media {
      float: left; }
      footer .footer-layer .social-media ul {
        list-style: none;
        text-decoration: none;
        margin: 1em 0 1em 8em; }
        footer .footer-layer .social-media ul li {
          display: inline-block;
          margin: 0 1em; }

.sm-icon {
  height: 50px;
  width: 50px; }

.fb:hover {
  border-radius: 50%;
  background-color: #3B5998;
  cursor: pointer; }

.in:hover {
  border-radius: 50%;
  background-color: #517fa4;
  cursor: pointer; }

.tw:hover {
  border-radius: 50%;
  background-color: #4099FF;
  cursor: pointer; }

.copywrite {
  float: right;
  margin: 2em 8em 1em 0em; }

@media only screen and (max-width: 945px) {
  .masthead-heading {
    font-size: .85em; }

  .masthead-text, .masthead-text-layer {
    max-height: 35em; }

  nav {
    display: none; }

  .copywrite {
    text-align: center;
    display: block; }
    .copywrite p {
      margin: 0 0 0 10em; } }


/*# sourceMappingURL=style.css.map */
